
$white: #fff;
$black: #000;

$menu-font-color: #1a1a1a;
$menu-font-color-hv: #088178;

$mini-title-color: #606063;
$text-color: #088178;

$heading-color: #222;
$pragraph-color: #465b52;
$heading-bg-color: #fddde4;

$border-color-s: #088178;
$border-color: #cce7d0;
$border-gray: #3333337a;
$border-color-h: #e2e9e1;

$cart-bg-color: #e8f6ea;

$btn-white: #fff;
$btn-bg-cl: #fff;
$btn-bg-hv-cl: #088178;
$btn-cl: #000;
$btn-hv-cl: #fff;

$span-color: #ffbd27;

$navbar-bg: #e3e6f3;
$mobil-icons: #1a1a1a;




