#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .fa-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    border: 1px solid $border-color;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    @include border-radius(4px);

    &:hover {
      box-shadow: 10px 10px 54px rgba(70,62, 221, 0.1);
    }

    h6 {
      display: inline-block;
      padding: 9px 8px 6px 8px;
      line-height: 1px;
      @include border-radius(4px);
      color: $heading-color;
      background-color: $heading-bg-color;
    }

    &:nth-child(2) h6 {
      background-color: #cdebbc;
    }

    &:nth-child(3) h6 {
      background-color: #d1e8f2;
    }

    &:nth-child(4) h6 {
      background-color: #cdd4f8;
    }

    &:nth-child(5) h6 {
      background-color: #f6dbf6;
    }

    &:nth-child(6) h6 {
      background-color: #fff2e5;
    }
  }
}










